---
layout: default
---

{{ content }}

<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for work in site.works limit:6 %}
                <a href="{{  work.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp">
                <div class="row nopadding">
                    {% capture currentyear %}{{ work.date | date: "%Y"}}/{% endcapture %}
                        <div class="col-md-2 nopadding"><img style="max-width:100%" src="{{ site.baseurl }}/assets/images/{{ work.image }}" alt=""></div>
                        <div class="col-md-2 nopadding"><img style="max-width:100%" src="{{ site.baseurl }}/gallery/{{ work.image | remove: ".jpg" | remove: currentyear }}/frame-0000-{{ work.image | remove: currentyear }}" alt=""></div>
                        <div class="col-md-2 nopadding"><img style="max-width:100%" src="{{ site.baseurl }}/gallery/{{ work.image | remove: ".jpg" | remove: currentyear }}/frame-0001-{{ work.image | remove: currentyear }}" alt=""></div>
                        <div class="col-md-2 nopadding"><img style="max-width:100%" src="{{ site.baseurl }}/gallery/{{ work.image | remove: ".jpg" | remove: currentyear }}/frame-0002-{{ work.image | remove: currentyear }}" alt=""></div>
                        <div class="col-md-2 nopadding"><img style="max-width:100%" src="{{ site.baseurl }}/gallery/{{ work.image | remove: ".jpg" | remove: currentyear }}/frame-0003-{{ work.image | remove: currentyear }}" alt=""></div>
                        <div class="col-md-2 nopadding"><img style="max-width:100%" src="{{ site.baseurl }}/gallery/{{ work.image | remove: ".jpg" | remove: currentyear }}/frame-0004-{{ work.image | remove: currentyear }}" alt=""></div>
                        <div class="col-md-2 nopadding"><img style="max-width:100%" src="{{ site.baseurl }}/gallery/{{ work.image | remove: ".jpg" | remove: currentyear }}/dreamy-{{ work.image | remove: currentyear }}" alt=""></div>
                </div><!-- end row -->
              </a>
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
