---
layout: default
---

<div class="container mt">
    <div class="row">
 
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">  
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

        <!-- Jumbotron -->
        <div id="jumbotron" class="jumbotron">
          <div class="container">
            <h1 class="lobster-font">{{ page.title }}</h1>
            {% if page.website %}<p><a class="btn btn-sm btn-primary" href="{{ page.website }}" role="button">Learn more</a></p>{% endif %}
          </div>
        </div>

        <div style="margin-top:25px;" class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            {{ content }}
            <div class="spacing"></div>
            <h4>Work Details</h4>
            <div style="padding-bottom:20px" class="hline"></div>
            {% if page.date %}<p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>{% endif %}
            {% if page.author %}<p><b>Contributor:</b> {{ page.author }}</p>{% endif %}
            {% if page.tags %}<p><b>Tags:</b> {{ page.tags }}</p>{% endif %}
            {% if page.affiliation %}<p><b>Affiliation:</b> {{ page.affiliation }}</p>{% endif %}
        </div>

        <div class="col-lg-4 col-lg-offset-1" style="margin-bottom:50px">
            <a href="{{ site.baseurl }}/assets/images/{{ page.image }}" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/{{ page.image }}" width="400px"></img></a>
        </div>
    </div><! --/row -->
</div>
<div class="container-fluid">
     <div class="row" style="text-align: center; content-align:center; padding-top:50px">
        <div class="col-md-12">
        {% capture currentyear %}{{ page.date | date: "%Y"}}/{% endcapture %}
        {% capture imagename %}{{ page.image | remove: currentyear }}{% endcapture %}
        {% assign count = 1 %}
        {% for image in site.static_files %}
            {% if image.path contains imagename %}
            <a href="{{ site.baseurl }}{{ image.path }}"><img style="max-width:16%"  src="{{ site.baseurl }}{{ image.path }}" alt="image" /></a>
            {% assign newrow = count | modulo:6 %}
                {% if newrow == 0 %}
                         </div>
                         <div class="row" style="text-align: center; content-align:center; padding-top:50px">
                         {% capture count %}{{ count | plus:1 }}{% endcapture %}
                     {% endif %}
                {% endif %}
           {% endfor %}
         </div>
     </div>
</div>
